.md-typeset a {
    --md-typeset-a-color: #1D70B8 !important;
}

.highlight :is(.no, .nb, .bp) {
    --md-code-hl-constant-color: #1D70B8 !important;
}

.md-nav__item .md-nav__link--active {
    --md-typeset-a-color: #1D70B8 !important;
}

.md-search-result__more summary {
    --md-typeset-a-color: #1D70B8 !important;
}